* {
	border: none;
}
h1 {
	text-align: center;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 15px;
}
table {
	width: 100%;
	margin-bottom: 50px;
}
th {
	width: 300px;
	background-color: #4b4b4b;
	color: white;
}
.pic {
	width: 200px;
}
.eletext {
	font-weight: bold;
	width: 100px;
	background-color: #4b4b4b;
	color: white;
}
input {
	height: 30px;
	width: 300px;
	text-align: center;
}
input[type=date] {
	border: 1px solid black;
	border-radius: 10px;
}
input[type=submit], .mod {
	border: 1px solid black;
	width: 100px;
	height: 50px;
	background-color: #4b4b4b;
	color: white;
	cursor: pointer;
	margin:0 auto;
}

