h1 {
	text-align: center;
}
#sear {
	float: right;
	margin-bottom: 15px;
	background-color: #f5f5f5;
	margin-right: 10px;
}
.sear {
	width: 50px;
	height: 20px;
	margin: 0 5px;
}
input[type=search] {
	border: none;
	border-bottom: 1px solid black;
	width: 300px;
	background-color: #f5f5f5;
}
a {
	width: 25px;
	height: 25px;
	text-decoration: none;
	vertical-align: middle;
	color: black;
}
table, th, td {
	border: none;
	border-collapse: collapse;
	text-align: center;
	padding: 15px;
}
table {
	width: 100%;
}
th {
	background-color: #9dc4ae;
	color: white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
td {
	border-right: 1px solid black;
	border-top: 1px solid black;
}
td:last-child {
	border-right: none;
}
th:last-child {
	border-right: none;
}
input[type=button] {
	width: 50px;
	height: 30px;
	background-color: #9dc4ae;
	border: none;
	cursor: pointer;
	color: white;
}
.button {
	float: right;
}